body{
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
}
.navbar{
    background-color:#8ECDC0;
}
.carousel-inner > .carousel-item > img {
    margin: auto;
    height: 500px;
    margin-top: 15px;
    position: relative;
  }
  .carousel-inner{
    max-width: 1700px;
    min-width: 900px;
    min-height: 900px;
    align-items: center;
    align-content: center;
    align-self: center;
  }
 
.fundo-sessao {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#CD8EBA;
}

.margin{
  margin-top: 15px;
}

.botao{
  margin-left: 710px;
}