.navbar{
    background-color: #8ECDC0;
    
}
.carousel-inner > .carousel-item > img {
    width: 700px;
    height: 500px;
    margin-top: 15px;
    position: central;
  }

.vestidos .casacos .conjuntos .acessorios{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #8ECDC0;
}
.cor-de-fundo{
  
}

.botao{
  margin-left: 710px;
}